body {
    font-family: "Montserrat", sans-serif;
    color: #404142;
    font-size: 16px;
    letter-spacing: 0.2px;
    background-color: orange;
    background-image: url("./img/diwali.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h2 {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    letter-spacing: -0.1px;
    opacity: 0.7;
    color: white;
}

h1,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    letter-spacing: -0.1px;
    opacity: 0.7;
}
.main .wish-text {
    width: 70%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 5px;
    background-color:orange;
    color:black;

}

.main .wish-text:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.wish-text {
    padding: 15px;
    margin-top: 15px;
}
.btn {
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.btn-lg {
    padding: 5px 10px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-yellow {
    background-color: #fcd93b;
    color: #2a2a2a;
    opacity: 0.8;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.btn-yellow:hover {
    opacity: 0.9;
    text-transform: uppercase;
    cursor: pointer;
}
@media (max-width:320px){
    .main .wish-text{
        width: 100%;
    }
}
@media (min-width:768px) and (max-width:991px) {
   .main .wish-text{
       width: 50%;
       margin-right: 7px;
   }
}
@media (min-width:992px) and (max-width:1199px) {
    .main .wish-text{
        width: 50%;
        margin-right:9px;
    }
}
